.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 0.3fr 1.2fr 0.3fr;
    grid-template-rows: 0.3fr 1.5fr 0.3fr;
    grid-template-areas: 
    "header header header"
    "leftsidebar maincontent rightsidebar"
    "footer footer footer ";
    grid-gap: 8px

}
header{
    background-color: #FE8515;
    grid-area: header;
}
#leftsidebar{
    background-color: #7FC242;
    grid-area: leftsidebar;
    border-radius: 10px;
}

#maincontent{
    background-color: #8BF10A;
    grid-area: maincontent;
    border-radius: 10px;
}
#rightsidbar{
    background-color: #7FC242;
    grid-area: rightsidebar;
    border-radius: 10px;}
    









footer{
    background-color: #F57E20;
    grid-area: footer;
}